/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color: #;   /* background color */
	color: #444;          /* text color for the entire page */
	font-family: 'Open Sans', sans-
	serif;
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 85%;
	margin: 0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;padding
	text-align:left;
	background-color:#F7B857;
	font-weight: bold;
	font-size: 200%;
 }

.stepContent{ 
	background-color: lightblue;
	padding:5px;
	display: flex;
	flex-wrap:wrap;
	justify-content: ;
}

.stepDescription {
	width:55%;
	padding:15px;
	line-height:145%;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: side;
}

.stepImage img {
    width:60%;
    height:auto;
}

/* Define the style for the warning box */
.warning-box {
   background-color: pink; /* Set the background color to red */
   border: 2px solid pink; /* Add a red border around the box */
   padding: 10px; /* Add some padding inside the box */
   width: auto; /* Remove the fixed width setting */
   text-align: ; /* Center the text horizontally */
}

/* Define the style for the "warning" class */
.warning {
   color: black; /* Set text color to black */
   font-weight: normal; /* Reset font weight to normal for the text */
}

/* Style the warning icon within the "warning-icon" class */
.warning-icon {
   font-size: 24px; /* Set the font size of the icon */
   margin-right: 10px; /* Add right margin for spacing between icon and text */
   vertical-align: middle; /* Vertically align the icon with the text */
}

/* Style the bold icon */
.bold-icon {
   font-weight: bold; /* Make the icon bold */
}