@charset "utf-8";

/* CSS Document */

body {
	text-align: center;
	background-color: lightsteelblue;  
}
a {
	padding: 12px;
    margin: 5px;
	
	font-size: 125%;
	background-color: antiquewhite; 
	color:  your_color_of_choice; 
}

a:hover {
	font-size:200%;
	background-color: peachpuff; 
	color: darkblue; 
}

table {
	margin:0 auto;  /* centers table*/
}