@charset "utf-8";
/* CSS Document */
#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

 #man_image {
border: black 5px solid;
}
 
 #type {
display: none; /* hides content */
border: black 5px solid;
}

body {
	
	color: #444;          /* text color for the entire document */
	font-size: 12px;
	font-family:Verdana, Geneva, sans-serif;
}
body {
	text-align: center;
	background-color: paleturquoise;  
}
#wrapper {
width: 1200 px;
margin: 20 auto;
text-align: center;
}
}
a:hover {
	font-size:200%;
	background-color: palevioletred; 
	color: your_color_of_choice; 
}

a {
	padding: 5px;
margin: 50px;
	font-size: 200%;
	background-color:  peachpuff; 
	color:  your_color_of_choice; 
}


 


